@import "reset.css";
@import "variables.css";
@import "layout.css";
@import "typography.css";
@import "breakpoints.css";

/* MORE RESETS */
.card-title {
  font-size: var(--fs-title);
  margin: 1em 0;
}

.card-text {
  font-size: var(--fs-p);
  margin-bottom: 1em;
  padding: 0 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  margin: 1em 0;
}

.btn {
  color: #fff;
  padding: 1em 2em;
  margin: 1em;
  background: var(--violet);
}

/* 
HEADER 
*/

.main-header {
  text-align: center;
  padding: 2em 0;
}

.logo {
  font-size: 2em;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
}

.main-nav li {
  margin: 0.2em 0;
}

.main-nav li a {
  display: inline-block;
  /* background-color: lightblue; */
  padding: 1em 0;
  width: 100%;
  color: #000;
  font-size: 1.2em;
}

.main-nav li a:hover {
  background: var(--purple);
  color: #fff;
}

@media (min-width: 700px) {
  .main-nav {
    margin-top: 1em;
  }
  .main-nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
  .main-nav li a {
    display: inline-block;
    /* background-color: lightblue; */
    padding: 1em 3em;
    width: 100%;
    color: #000;
  }
}

/* 
CTA SECTION
*/

.cta-card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-items: center;
}

/* 
Main Styling 
*/

#main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "content aside";

  width: 95%;
  margin: 0 auto;
}

.main-article-wrapper {
  grid-area: content;
}

.main-aside-wrapper {
  grid-area: aside;
}

/* @media (min-width: 800px) {
  #main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
  }
} */

/* 
Posts section of homepage
*/

/* @media (min-width: 700px) {
  .main-article-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
  }
} */

.main-article-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* 
Author aside stylings.
 */

#author-card {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#author-card-text {
  margin-top: 1em;
}

.social-icons {
  display: flex;
  justify-content: center;
  /* background: skyblue; */
}

.social-icons a {
  margin: 0 0.2em;
  padding: 1em;
  /* background: red; */
}

.social-icon {
  /* margin: 1em; */
  /* background: red; */
  width: 2em;
}

/* 
Footer
*/

footer {
  text-align: center;
}

footer a {
  color: #000;
}
