/* 
CORE TYPOGRAPHY
*/

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.card-title {
  font-size: var(--fs-title);
}

.card-text {
  font-size: var(--fs-p);
}
